In [1]:
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import matplotlib as mpl

In [3]:
import seaborn as sns

In [4]:
import pandas as pd
from pandas.plotting import scatter_matrix

In [5]:
from scipy.interpolate import BSpline
from scipy import interpolate
import scipy as sp
import scipy.stats as stats
from scipy import stats
from scipy.signal import savgol_filter

In [6]:
import plotly
import plotly.express as px
from plotly import __version__
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot

In [7]:
import researchpy as rp

In [8]:
import statsmodels.api as sm

In [9]:
# scikit-Learn provides a few functions to split datasets into multiple subsets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.model_selection import GridSearchCV
from scipy.interpolate import splrep, BSpline
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score

In [10]:
# Install Statsmodels
# Adapted from https://www.statsmodels.org/stable/examples/notebooks/generated/mixed_lm_example.html
# Load packages
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.tools.sm_exceptions import ConvergenceWarning
from statsmodels.stats.diagnostic import het_white

In [11]:
import cufflinks as cf
import cufflinks as cf

In [12]:
pd.plotting.register_matplotlib_converters()
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
mpl.rcParams['figure.figsize'] = (8, 6)
sns.set(color_codes=True)
cf.go_offline()

In [13]:
from pingouin import corr

In [14]:
import saspy

C:\Users\augus\AppData\Roaming\Python\Python310\site-packages\outdated\utils.py:14: OutdatedPackageWarning:

The package pingouin is out of date. Your version is 0.5.2, the latest is 0.5.3.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.

In [ ]:
import pyodbc

In [ ]:
# import sources from SQL
import pymysql
import pandas as pd

# data path
db_name = "body1" # database created in SQL
db_host = "localhost"
db_username = "root" # default is root
db_password = "SYDlife1"

# Connect to the database
try:
    conn=pymysql.connect(host=db_host,
                          port=int(3306),
                          user='root',
                          passwd=db_password,
                          db=db_name)
except e:
    print(e)

if conn:
    print("OK")
else:
    print("Error")

# database from SQL
df1 = pd.read_sql_query("SELECT * FROM body2", conn)

In [ ]:
df1.head(5)

In [ ]:
df1.shape

In [ ]:
df1.columns

In [ ]:
df1.info()

sas = saspy.SASsession(java='C:\\Program Files (x86)\\Java\\jre1.8.0_221\\bin\\java.exe', iomhost = ['odaws01-apse1.oda.sas.com','odaws02-apse1.oda.sas.com'], iomport=8591, encoding='utf-8')
sas

### Beef cattle, Weaners from JAI thesis (Liveweight data and animal list)

In [15]:
# importing raw data from weight sensor (animal identification, date, time, weight)
df1 = pd.read_excel (r'C:\Users\augus\Desktop\github_repositories\databases\mothering up\1_Pye_136_WOW.xlsx')

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345131 entries, 0 to 345130
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   NroObs    345131 non-null  int64
 1   File      345131 non-null  object
 2   FID       30680 non-null   object
 3   Weight    343051 non-null  float64
 4   Date      330303 non-null  datetime64[ns]
 5   Time      330194 non-null  object
 6   DateTime  330194 non-null  datetime64[ns]
 7   EID       121369 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 21.1+ MB

In [17]:
df1.shape

(345131, 8)

In [18]:
df1.isnull().sum()

NroObs           0
File             0
FID         314451
Weight        2080
Date         14828
Time         14937
DateTime     14937
EID         223762
dtype: int64

In [19]:
df1.duplicated().sum()

0

In [20]:
df1.head(2)

   NroObs        File  FID  Weight       Date Time DateTime               EID
0       1  1-a7-TET27  NaN   129.0 2014-06-26  NaN      NaT  982 000192622265
1       2  1-a7-TET27  NaN   130.0 2014-06-26  NaN      NaT  982 000192621913

In [21]:
df1 = df1.drop(['File', 'NroObs', 'FID'], axis= 1)

In [22]:
df1.describe()

              Weight
count  343051.000000
mean      273.334425
std       320.466804
min         0.000000
25%         4.000000
50%         6.500000
75%       622.000000
max      1360.000000

In [ ]:
#sns.scatterplot(data=rawdata, x="datetime", y="weight")

In [ ]:
#rawdata2= rawdata.drop(['date', 'time'], axis= 1)

In [23]:
# VID data from static weighing
df2 = pd.read_excel (r'C:\Users\augus\Desktop\github_repositories\databases\mothering up\6_PyeFarm_AnimalList1.xlsx')

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EID               361 non-null    object
 1   FID               364 non-null    object
 2   category_list     364 non-null    object
 3   subcategory_list  364 non-null    object
 4   location_list     364 non-null    object
 5   sex               364 non-null    object
dtypes: object(6)
memory usage: 17.2+ KB

In [25]:
df2.columns

Index(['EID', 'FID', 'category_list', 'subcategory_list', 'location_list',
       'sex'],
      dtype='object')

In [ ]:
# ids.info()

In [ ]:
# df2 = df2.drop(['eliminated','eliminated','eliminated'], axis= 1)

In [ ]:
# rename columns
# ids1.rename(columns={'EID': 'eid', 'VID': 'vid'},inplace=True)

In [26]:
# merging rawdata + identification animals"
df3 = df1.merge(df2,on='EID')

In [27]:
df3.head(2)

,Weight,Date,Time,DateTime,EID,FID,category_list,subcategory_list,location_list,sex
0,662.0,2014-06-26,NaN,NaT,982 000114912246,F1231,Cow,BreedingHerd,WOW,female
1,660.0,2014-06-26,NaN,NaT,982 000114912246,F1231,Cow,BreedingHerd,WOW,female

In [28]:
# add observation number by vid to smooth the data
df3['n']= df3.groupby(['EID']).cumcount()

In [33]:
# Create new columns for the lagged values of EID and SEX
df3['LAG1EID'] = df3['EID'].shift(1)
df3['LAG2EID'] = df3['EID'].shift(2)
df3['LAG3EID'] = df3['EID'].shift(3)
df3['LAG4EID'] = df3['EID'].shift(4)
df3['LAG5EID'] = df3['EID'].shift(5)
df3['LAG6EID'] = df3['EID'].shift(6)
df3['LAG1SEX'] = df3['sex'].shift(1)

In [34]:
df3.head(50)

,Weight,Date,Time,DateTime,EID,FID,category_list,subcategory_list,location_list,sex,n,LAG1EID,LAG2EID,LAG3EID,LAG4EID,LAG5EID,LAG6EID,LAG1SEX
0,662.0,2014-06-26,NaN,NaT,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,0.0,None,None,None,None,None,None,None
1,660.0,2014-06-26,NaN,NaT,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,1.0,982 000114912246,None,None,None,None,None,female
2,574.0,2014-06-26,NaN,NaT,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,2.0,982 000114912246,982 000114912246,None,None,None,None,female
3,0.0,2014-06-26,NaN,NaT,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,3.0,982 000114912246,982 000114912246,982 000114912246,None,None,None,female
4,0.0,2014-06-28,17:10:00,2014-06-28 17:10:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,4.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,None,None,female
5,0.0,2014-06-29,07:01:00,2014-06-29 07:01:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,5.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,None,female
6,658.0,2014-06-29,09:39:00,2014-06-29 09:39:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,6.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
7,0.0,2014-06-29,11:52:00,2014-06-29 11:52:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,7.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
8,0.0,2014-06-29,13:45:00,2014-06-29 13:45:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,8.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
9,576.0,2014-06-29,13:45:00,2014-06-29 13:45:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,9.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
10,666.0,2014-06-29,13:45:00,2014-06-29 13:45:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,10.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
11,586.0,2014-06-29,17:32:00,2014-06-29 17:32:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,11.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
12,666.0,2014-06-29,17:32:00,2014-06-29 17:32:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,12.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
13,660.0,2014-06-29,19:42:00,2014-06-29 19:42:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,13.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
14,650.0,2014-06-30,08:45:00,2014-06-30 08:45:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,14.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
15,656.0,2014-06-30,14:26:00,2014-06-30 14:26:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,15.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
16,632.0,2014-07-01,07:52:00,2014-07-01 07:52:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,16.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
17,662.0,2014-07-01,13:06:00,2014-07-01 13:06:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,17.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
18,542.0,2014-07-01,16:28:00,2014-07-01 16:28:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,18.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
19,656.0,2014-07-01,16:28:00,2014-07-01 16:28:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,19.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
20,678.0,2014-07-01,17:03:00,2014-07-01 17:03:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,20.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
21,674.0,2014-07-02,09:25:00,2014-07-02 09:25:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,21.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
22,654.0,2014-07-02,09:42:00,2014-07-02 09:42:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,22.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
23,654.0,2014-07-02,12:06:00,2014-07-02 12:06:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,23.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
24,0.0,2014-07-02,13:19:00,2014-07-02 13:19:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,24.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
25,672.0,2014-07-02,15:12:00,2014-07-02 15:12:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,25.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
26,642.0,2014-07-03,06:43:00,2014-07-03 06:43:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,26.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
27,644.0,2014-07-03,08:23:00,2014-07-03 08:23:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,27.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
28,658.0,2014-07-03,13:09:00,2014-07-03 13:09:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,28.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
29,0.0,2014-07-03,13:15:00,2014-07-03 13:15:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,29.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
30,654.0,2014-07-03,13:39:00,2014-07-03 13:39:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,30.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
31,688.0,2014-07-03,15:05:00,2014-07-03 15:05:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,31.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
32,654.0,2014-07-03,15:37:00,2014-07-03 15:37:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,32.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
33,632.0,2014-07-04,07:30:00,2014-07-04 07:30:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,33.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
34,0.0,2014-07-04,07:56:00,2014-07-04 07:56:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,34.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
35,0.0,2014-07-04,07:58:00,2014-07-04 07:58:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,35.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
36,0.0,2014-07-04,08:06:00,2014-07-04 08:06:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,36.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
37,0.0,2014-07-04,09:38:00,2014-07-04 09:38:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,37.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
38,658.0,2014-07-04,10:52:00,2014-07-04 10:52:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,38.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
39,648.0,2014-07-04,16:25:00,2014-07-04 16:25:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,39.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
40,664.0,2014-07-04,19:41:00,2014-07-04 19:41:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,40.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
41,0.0,2014-07-05,09:36:00,2014-07-05 09:36:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,41.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
42,0.0,2014-07-05,09:36:00,2014-07-05 09:36:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,42.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
43,662.0,2014-07-05,12:56:00,2014-07-05 12:56:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,43.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
44,0.0,2014-07-06,07:50:00,2014-07-06 07:50:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,44.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
45,0.0,2014-07-06,07:50:00,2014-07-06 07:50:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,45.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
46,0.0,2014-07-06,07:50:00,2014-07-06 07:50:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,46.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
47,355.0,2014-07-06,11:48:00,2014-07-06 11:48:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,47.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
48,594.0,2014-07-06,15:35:00,2014-07-06 15:35:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,48.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female
49,572.0,2014-07-06,15:47:00,2014-07-06 15:47:00,982 000114912246,F1231,Cow,BreedingHerd,WOW,female,49.0,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,982 000114912246,female

In [ ]:
rawdata3= rawdata3.drop(['describe'], axis= 1)

In [ ]:
rawdata3.columns

In [ ]:
rawdata3.describe()

In [ ]:
# Convert the date and time columns to strings
rawdata3["date"] = rawdata3["date"].astype(str)
rawdata3["time"] = rawdata3["time"].astype(str)

In [ ]:
# Combine the date and time columns into a single string
rawdata3["datetime"] = rawdata3["date"] + " " + rawdata3["time"]

In [ ]:
# Convert the datetime string to a datetime object
rawdata3["datetime"] = pd.to_datetime(rawdata3["datetime"], format="%Y-%m-%d %H:%M:%S")

In [ ]:
# extracting date and time from datetime and add as columns
# rawdata3["time"]=rawdata2["datetime"].dt.time
# rawdata3["date"]=rawdata2["datetime"].dt.date

In [ ]:
# print missing values > rawdata3 merged without deleting missing values
rawdata3_missing= rawdata3[rawdata3.isna().any(axis=1)]

In [ ]:
# delete missing values with no visual ID, date and weight values available
rawdata4=rawdata3.dropna(subset=["weight", "vid", "date", "time"]) # delete all raws with missing values

In [ ]:
## first delete of outliers, no biological values
rawdata5=rawdata4.drop(rawdata4[(rawdata4.weight>1500) | (rawdata4.weight<1)].index)

In [ ]:
rawdata5.head(2)

In [ ]:
rawdata5.describe()

In [ ]:
# deleting based on categorical variables
# rawdata5_1=rawdata4.drop(rawdata4[(rawdata4.weight>400) | (rawdata4.weight<200) | (rawdata4.cat1=='male')].index)

In [ ]:
# sns.scatterplot(data=rawdata5, x="datetime", y="weight")

In [ ]:
# rp.summary_cont(rawdata4.groupby(["cat1", "cat2"])["weight"])

In [ ]:
# only operations based with numbers if, else, if
# rawdata5_1['weight_test'] = [weight/100 if weight<150 else weight/200 for weight in rawdata5_1.weight]

In [ ]:
# only operations based with numbers if, else, if (categorical classification)
# rawdata5_['weight_test1']= ["OK" if weight<350 else "review" for weight in rawdata5_1.weight]

In [ ]:
# create a new column based on condition, option
# rawdata5_1['weight_test2']= np.where(rawdata5_1['cat1'] == 'male', True, False)

In [ ]:
# create a new column based on condition, option
# rawdata5_1['weight_test3']= [True if a >= 300 else False for a in rawdata5_1['weight']]

In [ ]:
# rawdata5_1.head(5)

## first smoothing

In [ ]:
# sort rawdata5 by vid, MUST be sorted BEFORE
smoothing1= rawdata5.sort_values(["vid", "datetime"],  ascending= True)

In [ ]:
# add observation number by vid to smooth the data
smoothing1['n']= smoothing1.groupby(['vid']).cumcount()+1

In [ ]:
smoothing1.head(2)

# data ready for smoothing
smoothing1.to_excel(r'C:\Users\augus\Desktop\github_repositories\body_weight\report outputs\smoothing1.xlsx', sheet_name='sheet1', index = False)

In [ ]:
vid = smoothing1['vid'].unique()

In [ ]:
graph= sns.FacetGrid(smoothing1, col='vid')
graph= graph.map(sns.scatterplot, 'n', 'weight', s=25, alpha=.5)

In [ ]:
smoothing1_1= smoothing1[smoothing1.vid == "JBP354"]

In [ ]:
plt.plot(smoothing1_1.n, smoothing1_1.weight,'ro', label="original")

In [ ]:
plt.plot(smoothing1_1.datetime, smoothing1_1.weight,'ro', label="original")

In [ ]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from scipy.interpolate import splrep, BSpline

In [ ]:
xy = smoothing1_1

In [ ]:
# Load the data into a NumPy array
data = xy.values

In [ ]:
# Extract the year and weight columns
X = data[:, 8]  # Year
y = data[:, 7]  # Weight

# Define a custom spline fitting function using splrep
class SplineFitter:
    def __init__(self, s=1000):
        self.s = s
    
    def fit(self, X, y):
        self.tck = splrep(X, y, s=self.s, k=3)
        return self
    
    def score(self, X, y):
        y_pred = BSpline(*self.tck)(X)
        y_mean = y.mean()
        ss_tot = ((y - y_mean) ** 2).sum()
        ss_res = ((y - y_pred) ** 2).sum()
        return 1 - ss_res / ss_tot

# Create the grid search object
grid_search = GridSearchCV(estimator=SplineFitter(), param_grid={"s": s_values}, cv=5)

# Fit the grid search object to the data
grid_search.fit(X, y)

# Print the best value for the smoothing parameter
print("Best value for s:", grid_search.best_params_["s"])

# Calculate the spline parameters using the best value for the smoothing parameter
tck = splrep(X, y, s=grid_search.best_params_["s"], k=3)

# Generate a new set of year values for prediction
X_pred = np.linspace(X.min(), X.max(), num=100)

# Use the spline to make predictions for the new year values
y_pred = BSpline(*tck)(X_pred)

# Output the results to a CSV file
output = np.column_stack((X_pred, y_pred))
np.savetxt("predictions.csv", output, delimiter=",", header="Year,Weight", comments="")

In [ ]:
y

In [ ]:
## smoothing 1
# original data set

xy = smoothing1_1

# setting parameters
xy["y1"] = xy.weight # values (weight)
n1 = len(xy.weight) # count the number of values
xy["x1"] = range(0, n1) # range between n

# smoothing parameters
s = 30000 # smoothing parameter
num = len(xy.weight) # number of knots
k = 3 # degree of spline

# calculates parameters for the BSplines
tck = interpolate.splrep(xy.x1, xy.y1, s=s, k=k)
x1_new = np.linspace(min(xy.x1), max(xy.x1), num=num)
y1_fit = interpolate.BSpline(*tck)(x1_new)

# BSplined data
xy1 = np.stack((x1_new, y1_fit), axis=1) # merging numpy dataframes
# xy1 = xy1.round(0) # rounding x1 and weights # include if adding manually number of knots num = change
xy1 = pd.DataFrame(xy1, columns = ['x1','Pweight']) # convert numpy to pandas
xy2 = xy.merge(xy1, on=['x1'], how="left") # predicted weight from 100 evenly distributed knots and data splined

# interpolations when number of knots are noy equal to len(smooth_test.weight)
xy2['Pweight_1'] = xy2['Pweight'].interpolate(method = 'polynomial', order=1)
xy2['Pweight_2'] = xy2['Pweight'].interpolate(method = 'polynomial', order=2)
xy2['Pweight_3'] = xy2['Pweight'].interpolate(method = 'polynomial', order=3)
xy2['Pweight_near'] = xy2['Pweight'].interpolate(method = 'nearest')

# residuals
xy2["R1"] = (xy2.weight)-(xy2.Pweight_1)
xy2["R2"] = (xy2.weight)-(xy2.Pweight_2)
xy2["R3"] = (xy2.weight)-(xy2.Pweight_3)
xy2["R_near"] = (xy2.weight)-(xy2.Pweight_near)

# deviations
xy2["R1_std"] = xy2['R1'].std()
xy2["R2_std"] = xy2['R2'].std()
xy2["R3_std"] = xy2['R3'].std()
xy2["R_near_std"] = xy2['R_near'].std()

# deleting weights
xy2["Pweight_up"] = xy2['Pweight_3'] + (1.5*(xy2["R3_std"]))
xy2["Pweight_down"] = xy2['Pweight_3'] - (1.5*(xy2["R3_std"]))

# plot
plt.title("Smoothing BSpline and interpolated with different methods")
plt.plot(xy2.x1, xy2.weight, 'ro', label="original")
plt.plot(xy2.x1, xy2.Pweight_3, label="predicted weight", color="black")
plt.plot(xy2.x1, xy2.Pweight_up, label="upper limit", color="black")
plt.plot(xy2.x1, xy2.Pweight_down, label="lower limit", color="black")

plt.legend(loc='best', fancybox=True, shadow=True)
plt.grid()
plt.show()

In [ ]:
## data cleaning first smoothing
xy3 = xy2[(xy2['weight'] < xy2['Pweight_up']) & (xy2['weight'] > xy2['Pweight_down'])]

In [ ]:
# plot data cleaning first smoothing
plt.title("Smoothing BSpline and interpolated with different methods")
plt.plot(xy3.x1, xy3.weight, 'ro', label="original")
plt.plot(xy3.x1, xy3.Pweight_3, label="predicted weight", color="black")
plt.plot(xy3.x1, xy3.Pweight_up, label="upper limit", color="black")
plt.plot(xy3.x1, xy3.Pweight_down, label="lower limit", color="black")

plt.legend(loc='best', fancybox=True, shadow=True)
plt.grid()
plt.show()

In [ ]:
## smoothing 2

# original data set this step
xy = xy3[['weight', 'date', 'datetime', 'time', 'eid', 'vid', 'n']]

# setting parameters
xy["y1"] = xy.weight # values (weight)
n1 = len(xy.weight) # count the number of values
xy["x1"] = range(0, n1) # range between n

# smoothing parameters
s = 15000 # smoothing parameter
num = len(xy.weight) # number of knots
k = 3 # degree of spline

# calculates parameters for the BSplines
tck = interpolate.splrep(xy.x1, xy.y1, s=s, k=k)
x1_new = np.linspace(min(xy.x1), max(xy.x1), num=num)
y1_fit = interpolate.BSpline(*tck)(x1_new)

# BSplined data
xy1 = np.stack((x1_new, y1_fit), axis=1) # merging numpy dataframes
# xy1 = xy1.round(0) # rounding x1 and weights # include if adding manually number of knots num = change
xy1 = pd.DataFrame(xy1, columns = ['x1','Pweight']) # convert numpy to pandas
xy2 = xy.merge(xy1, on=['x1'], how="left") # predicted weight from 100 evenly distributed knots and data splined

# interpolations when number of knots are noy equal to len(smooth_test.weight)
xy2['Pweight_1'] = xy2['Pweight'].interpolate(method = 'polynomial', order=1)
xy2['Pweight_2'] = xy2['Pweight'].interpolate(method = 'polynomial', order=2)
xy2['Pweight_3'] = xy2['Pweight'].interpolate(method = 'polynomial', order=3)
xy2['Pweight_near'] = xy2['Pweight'].interpolate(method = 'nearest')

# residuals
xy2["R1"] = (xy2.weight)-(xy2.Pweight_1)
xy2["R2"] = (xy2.weight)-(xy2.Pweight_2)
xy2["R3"] = (xy2.weight)-(xy2.Pweight_3)
xy2["R_near"] = (xy2.weight)-(xy2.Pweight_near)

# deviations
xy2["R1_std"] = xy2['R1'].std()
xy2["R2_std"] = xy2['R2'].std()
xy2["R3_std"] = xy2['R3'].std()
xy2["R_near_std"] = xy2['R_near'].std()

# deleting weights
xy2["Pweight_up"] = xy2['Pweight_3'] + (1.5*(xy2["R3_std"]))
xy2["Pweight_down"] = xy2['Pweight_3'] - (1.5*(xy2["R3_std"]))

# plot
plt.title("Smoothing BSpline and interpolated with different methods")
plt.plot(xy2.x1, xy2.weight, 'ro', label="original")
plt.plot(xy2.x1, xy2.Pweight_3, label="cubic", color="black")
plt.plot(xy2.x1, xy2.Pweight_up, label="cubic", color="black")
plt.plot(xy2.x1, xy2.Pweight_down, label="cubic", color="black")

plt.legend(loc='best', fancybox=True, shadow=True)
plt.grid()
plt.show()

In [ ]:
## data cleaning second smoothing
xy3 = xy2[(xy2['weight'] < xy2['Pweight_up']) & (xy2['weight'] > xy2['Pweight_down'])]

In [ ]:
# plot data cleaning second smoothing
plt.title("Smoothing BSpline and interpolated with different methods")
plt.plot(xy3.x1, xy3.weight, 'ro', label="original")
plt.plot(xy3.x1, xy3.Pweight_3, label="predicted weight", color="black")
plt.plot(xy3.x1, xy3.Pweight_up, label="upper limit", color="black")
plt.plot(xy3.x1, xy3.Pweight_down, label="lower limit", color="black")

plt.legend(loc='best', fancybox=True, shadow=True)
plt.grid()
plt.show()

In [ ]:
## smoothing 3

# original data set this step
xy = xy3[['weight', 'date', 'datetime', 'time', 'eid', 'vid', 'n']]

# setting parameters
xy["y1"] = xy.weight # values (weight)
n1 = len(xy.weight) # count the number of values
xy["x1"] = range(0, n1) # range between n

# smoothing parameters
s = 7500 # smoothing parameter
num = len(xy.weight) # number of knots
k = 3 # degree of spline

# calculates parameters for the BSplines
tck = interpolate.splrep(xy.x1, xy.y1, s=s, k=k)
x1_new = np.linspace(min(xy.x1), max(xy.x1), num=num)
y1_fit = interpolate.BSpline(*tck)(x1_new)

# BSplined data
xy1 = np.stack((x1_new, y1_fit), axis=1) # merging numpy dataframes
# xy1 = xy1.round(0) # rounding x1 and weights # include if adding manually number of knots num = change
xy1 = pd.DataFrame(xy1, columns = ['x1','Pweight']) # convert numpy to pandas
xy2 = xy.merge(xy1, on=['x1'], how="left") # predicted weight from 100 evenly distributed knots and data splined

# interpolations when number of knots are noy equal to len(smooth_test.weight)
xy2['Pweight_1'] = xy2['Pweight'].interpolate(method = 'polynomial', order=1)
xy2['Pweight_2'] = xy2['Pweight'].interpolate(method = 'polynomial', order=2)
xy2['Pweight_3'] = xy2['Pweight'].interpolate(method = 'polynomial', order=3)
xy2['Pweight_near'] = xy2['Pweight'].interpolate(method = 'nearest')

# residuals
xy2["R1"] = (xy2.weight)-(xy2.Pweight_1)
xy2["R2"] = (xy2.weight)-(xy2.Pweight_2)
xy2["R3"] = (xy2.weight)-(xy2.Pweight_3)
xy2["R_near"] = (xy2.weight)-(xy2.Pweight_near)

# deviations
xy2["R1_std"] = xy2['R1'].std()
xy2["R2_std"] = xy2['R2'].std()
xy2["R3_std"] = xy2['R3'].std()
xy2["R_near_std"] = xy2['R_near'].std()

# deleting weights
xy2["Pweight_up"] = xy2['Pweight_3'] + (1.5*(xy2["R3_std"]))
xy2["Pweight_down"] = xy2['Pweight_3'] - (1.5*(xy2["R3_std"]))

# plot
plt.title("Smoothing BSpline and interpolated with different methods")
plt.plot(xy2.x1, xy2.weight, 'ro', label="original")
plt.plot(xy2.x1, xy2.Pweight_3, label="cubic", color="black")
plt.plot(xy2.x1, xy2.Pweight_up, label="cubic", color="black")
plt.plot(xy2.x1, xy2.Pweight_down, label="cubic", color="black")

plt.legend(loc='best', fancybox=True, shadow=True)
plt.grid()
plt.show()

In [ ]:
## data cleaning third smoothing
xy3 = xy2[(xy2['weight'] < xy2['Pweight_up']) & (xy2['weight'] > xy2['Pweight_down'])]

In [ ]:
# plot data cleaning third smoothing
plt.title("Smoothing BSpline and interpolated with different methods")
plt.plot(xy3.x1, xy3.weight, 'ro', label="original")
plt.plot(xy3.x1, xy3.Pweight_3, label="predicted weight", color="black")
plt.plot(xy3.x1, xy3.Pweight_up, label="upper limit", color="black")
plt.plot(xy3.x1, xy3.Pweight_down, label="lower limit", color="black")

plt.legend(loc='best', fancybox=True, shadow=True)
plt.grid()
plt.show()

In [ ]:
# original data set this step
xy = xy3[['weight', 'datetime', 'eid', 'vid', 'n', 'Pweight_3']]

# XY raw database after smoothing with weights and predicted weights

In [ ]:
xy['date'] = pd.to_datetime(xy['datetime']).dt.date
xy['date'] = pd.to_datetime(xy['date'])
xy.head(2)

In [ ]:
xy_daily_prep = xy[['weight', 'Pweight_3', 'date', 'eid', 'vid']]
xy_daily_prep.head(2)

In [ ]:
# averaging weights and predicted weights per day, format datetime and calculate growth rate

xy_daily = xy_daily_prep.groupby(['date', 'eid', 'vid']).agg({'weight': ['mean', 'count'], 'Pweight_3': ['mean', 'count']})
xy_daily.columns = ['daily_weight', 'weight_count','daily_Pweight', 'Pweight_count']
xy_daily = xy_daily.reset_index()

xy_daily["diff_time"] = xy_daily["date"].diff() # delta date and weight
xy_daily["diff_Pweight"] = xy_daily["daily_Pweight"].diff() # delta date and weight

oneday = pd.Timedelta(days=1)
xy_daily['diff_time_norm'] = (xy_daily['diff_time']/oneday)

xy_daily['growth_rate'] = (xy_daily.diff_Pweight/xy_daily.diff_time_norm)

xy_daily.head(2)

In [ ]:
# completing dates in between (missing dates) keeping predicted weights and growth rates without interpolating
date_range = pd.date_range(min(xy_daily.date), max(xy_daily.date))

date_range = date_range.to_frame(name='date', )

xy_daily_filled = date_range.merge(xy_daily, on=['date'], how="left")

# interpolations between values
xy_daily_filled['int_Pweight3'] = xy_daily_filled['daily_Pweight'].interpolate(method = 'polynomial', order=3)
xy_daily_filled['int_daily_weight'] = xy_daily_filled['daily_weight'].interpolate(method = 'polynomial', order=3)
xy_daily_filled['vid'] = xy_daily_filled['vid'].fillna(method="ffill", downcast="infer")
xy_daily_filled['vid'] = xy_daily_filled['vid'].fillna(method="bfill", downcast="infer")
xy_daily_filled['eid'] = xy_daily_filled['eid'].fillna(method="ffill", downcast="infer")
xy_daily_filled['eid'] = xy_daily_filled['eid'].fillna(method="bfill", downcast="infer")

xy_daily_filled['int_growth_rate'] = xy_daily_filled["int_Pweight3"].diff()

xy_daily_final = xy_daily_filled[['date', 'eid', 'vid', 'daily_weight', 'weight_count', 'daily_Pweight', 'growth_rate', 'int_Pweight3', 'int_daily_weight', 'int_growth_rate']]

In [ ]:
xy_daily_final.head(5)

In [ ]:
# plot data cleaning third smoothing
plt.title("Smoothing BSpline and interpolated with different methods")

plt.plot(xy_daily_final.date, xy_daily_final.daily_Pweight, 'ro', label="original")
plt.plot(xy_daily_final.date, xy_daily_final.int_Pweight3, label="predicted", color="black")

plt.legend(loc='best', fancybox=True, shadow=True)
plt.grid()
plt.show()

# report

# exporting raw data with visual identification
rawdata3.to_excel(r'C:\Users\Augusto Imaz\Google Drive\github\body_weight\report outputs\rawdata3.xlsx', sheet_name='output', index = False)

## weight records from rawdata

In [ ]:
rawdata.isnull().sum()

In [ ]:
rawdata.duplicated().sum()

In [ ]:
rawdata.describe()

In [ ]:
ids1.shape

In [ ]:
ids1.isnull().sum()

ids1.describe

In [ ]:
# rawdata3 resulting of merging VID and raw weights

In [ ]:
rawdata3.shape

In [ ]:
rawdata3.isnull().sum()

In [ ]:
rawdata3.describe()

In [ ]:
# descriptive statistics at group level"
sns.displot(rawdata3, x="weight")
plt.title("distribution of weight records from rawdata")
plt.xlabel("weight,kg")
plt.ylabel("number of records")

In [ ]:
plt.scatter(rawdata3.datetime, rawdata3.weight)
plt.title("weight records from rawdata")
plt.xlabel("date")
plt.ylabel("weight,kg")

## missing values

In [ ]:
rawdata3.shape

In [ ]:
rawdata3_missing.shape

In [ ]:
rawdata4.shape

In [ ]:
rawdata3.isnull().sum()

In [ ]:
rawdata3_missing.head(3)

# exporting raw data with visual identification
rawdata3_missing.to_excel(r'C:\Users\Augusto Imaz\Google Drive\github\body_weight\report outputs\missing_rawdata3.xlsx', sheet_name='output', index = False)

## number of records from rawdata per individual animal

In [ ]:
rawdata_report=rawdata3.groupby("vid").describe()
rawdata_report.index.get_level_values(0)
cols= ['weigth_count','weigth_mean','weigth_std','weigth_min','weigth_25','weigth_50','weigth_75','weigth_max']
rawdata_report.set_axis(cols, axis=1,inplace=True)

In [ ]:
sns.displot(rawdata_report, x="weigth_count")
plt.xlabel("weight,kg")
plt.ylabel("frequency per individuals")

In [ ]:
for object in collection_of_objects:
    # code you want to execute on each object

In [ ]:
x = (10,20,30,40,50)
for var in x:
    print("index "+ str(x.index(var)) + ":",var)

In [ ]:
x = [(1,2), (3,4), (5,6)]

for a, b in x:
    print(a, "plus", b, "equals", a+b)